/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #f0f5f9; /* Texto color */
  background-color: #032925; /* Fondo color */
}

a {
  text-decoration: none;
  color: #fcd6da;
}

a:hover {
  color: #e6b4b7;
}

button,
input[type="submit"] {
  background-color: #fcd6da;
  color: #032925;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #e6b4b7;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(252, 214, 218, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header Styles */
.header {
  background-color: #fcd6da;
  padding: 2rem;
  text-align: center;
  color: #032925;
  border-bottom: 2px solid #e6b4b7;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #232d2e; /* Heading de color neutral */
}

.header p {
  font-size: 1.2rem;
  color: #333b3d; /* Color de subtítulo neutral */
}

/* Main Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 1rem;
}

.center-text {
  text-align: center;
  color: #f0f5f9;
}

.card {
  background-color: #04403a; /* Fondo de las tarjetas */
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.333% - 2rem);
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card.active {
  opacity: 1;
  transform: translateY(0);
}

.card h2,
.card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #f0f5f9;
}

.card h2 a {
  color: #f0f5f9;
}

.card h2 a:hover {
  color: #e6b4b7;
}

/* Footer Styles */
footer {
  background-color: #04403a;
  color: #f0f5f9;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

/* Estilos para resaltar el contorno de las cards */
.bright-card {
  border: 2px solid #fcd6da;
}

.bright-card:hover {
  border-color: #e6b4b7;
}

/* Estilos para la etiqueta de "Nuevo" en las cards */
.label-container {
  position: relative;
}

.new-label {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: #fcd6da;
  color: #032925;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (max-width: 576px) {
  .card {
    flex: 0 0 calc(100% - 2rem);
  }
}