/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff; /* Cambiado a blanco para modo noche */
  background-color: #333; /* Cambiado a gris oscuro para modo noche */
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

button,
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header Styles */
.header {
  background-color: #007bff;
  padding: 2rem;
  text-align: center;
}

.header h1,
.header p {
  color: #fff;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.2rem;
}

/* Main Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
}

.container h2 {
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.center-text {
  text-align: center;
}

.card {
  background-color: #444; /* Cambiado a gris oscuro para modo noche */
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(33.333% - 2rem);
  margin-bottom: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2,
.card p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff; /* Cambiado a blanco para modo noche */
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .header {
  background-color: #333;
}

.dark-mode .card {
  background-color: #444;
}

.dark-mode .card h2,
.dark-mode .card p {
  color: #fff;
}

/* Estilos para resaltar el contorno de las cards */
.bright-card {
  border: 2px solid #8A2BE2; /* Cambia el color del borde a morado brillante */
}

.bright-card:hover {
  border-color: #9932CC; /* Cambia el color del borde a un tono más brillante al hacer hover */
}

/* Estilos para la etiqueta de "Nuevo" en las cards */
.label-container {
  position: relative; /* Hace que la posición absoluta de la etiqueta sea relativa a este contenedor */
}

.new-label {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: #8A2BE2;
  color: #fff;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

/* Estilos para la etiqueta de "Nuevo" en las cards en modo oscuro */
.dark-mode .new-label {
  background-color: #9932CC;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    margin: 1rem auto;
  }

  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (max-width: 576px) {
  .card {
    flex: 0 0 calc(100% - 2rem);
  }
}
